<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Fest</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/styles/main.css')}}">
</head>
<body>
    <div class="centre">
        <h1>College Fest</h1>
        <p>Welcome to the College Fest website!</p>
        <div class="cardsslot">
            <div class="cards">A</div>
            <div class="cards">B</div>
            <div class="cards">C</div>
            <div class="cards">D</div>
        </div>
    </div>
</body>
</html>